*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background: goldenrod;
    padding: 0 20px;
}



nav a{
    align-self: center;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
}

.navigation{
    list-style-type: none;
    display: flex;
}
.navigation a{
    display: block;
    padding: 14px;
    text-align: center;
}
.navigation a:hover{
    background:  #e8c264;
    border-radius: 20px;
}
.navigation li:last-child{
    display: none;
}


@media (max-width:570px){
    nav{
        flex-direction: column;
        position: relative;
    }
    nav a{
        padding: 14px;
    }
   
    .navigation{
        flex-direction: column;
    }
    .navigation a{
        border-top: 1px solid rgba(255,255,255,0.4);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .navigation li:last-child{
        display: block; 
        position: absolute;
        top: 0;
        right: 0px;
    }
    .navigation li
   
    
}

